* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 32px 64px;
}

main {
    max-width: 90vw;
    min-height: calc(100vh-128px);
}