* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Schoolbell;
    text-decoration: none;
}

@font-face {
    font-family: Schoolbell;
    src: url(Schoolbell-Regular.ttf);
}

body {
    min-height: 100vh;
    min-width: 100vw;
    padding: 32px 64px;
}

main {
    max-width: 90vw;
    min-height: calc(100vh-128px);
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    border: solid 3px black;
}

section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 32px;
    justify-content: center;
}

nav {
    color: #8d5b1a;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    justify-content: center;
    a {
        text-decoration: none;
        color: #8d5b1a;
        background-color: #feda70;
        border: 2px solid black;
        border-radius: 12px;
        padding: 5px;
    }
}

h2 {
    font-size: 28px;
    font-weight: 400;
}

h1 {
    font-size: 56px;
    font-weight: 400;
}

p {
    font-size: 24px;
    font-weight: 400;
    max-width: 60ch;
}

article {
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: left;
}

article img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.sutiszoveg {
    max-width:80%;
    padding-top: 8vh;
}

table {
    max-width: 1080px;
    min-width: 150%;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table, td, th {
    padding: 10px;
}

tr:nth-child(odd) {
    color: #feda70;
    background-color: #8d5b1a;
}

tr:nth-child(even) {
    background-color: #feda70;
    color: #8d5b1a;
}

footer {
    background-color: #8d5b1a;
    color: #feda70;
    justify-content: center;
    max-width: 70vw;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 26px;
}